<h1>All Players</h1>
<% @all_players.each do |player| %>
    <h2><%= player.name %></h2>
    <p>Jersey Number: <%= player.player_number %></p>
    <p><%= "Is #{player.starting_player ? "a" : "not a"} starting player." %></p>
<% end %>